<h1> FEED </h1>



<% @posts.each do |post| %>
	<% @users.each do |user| %>
		<% if user.id == post.user_id %><hr>
			<div class='user_page_posts'>
				<a class=" name_or_user_post" href='/user/<%=  user.id %>'><%= user.first_name %>
				<%= user.last_name %> </a> <br>
				<%= post.title %><br>
				<%= post.date_created %><br>
				<p  class="content_post"><%= post.content %></p><br>
				
				<a href="/view_comment?post_id=<%= post.id %>" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-delay="50" data-tooltip="View Comments"><i class="material-icons">label_outline</i></a>

				<% if @user.id == user.id %>
					<a href="/edit_post?post_id=<%= post.id %>" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="top" data-delay="50" data-tooltip="Edit Post"><i class="material-icons">mode_edit</i></a>
					<!-- <a href="/edit_post?post_id=<%= post.id %>">Edit Post</a> -->
				<% end %>
			</div>
			<br> <hr>
		<% end %>

	<% end %>


	
<% end %>
