

<a href='/log_out'>Logout</a>


<h2><%= @user.first_name %> <%= @user.last_name %>
</h2>

<a href='/edit_user'>Edit Profile</a>
<a href='/blog_post'>Create Post</a>



<% if @user.ocupation && @user.ocupation != '' %>
<h3>Ocupation: <%= @user.ocupation %>
<%end%>
<% if @user.hobbies && @user.hobbies != '' %>
<h3>Hobbies: <%= @user.hobbies %>
<%end%>
<% if @user.sex && @user.sex != '' %>
<h3>Sex: <%= @user.sex %>
<%end%>

<h3> User since <%=@user.date_created %></h3>


<div>
	<% @post.each do |post| %>
		<div> <hr>
			<%= post.title %> <br>
			<%= post.date_created %> <br>
			<%= post.content %> <br>
			<a href="/view_comment?post_id=<%= post.id %>">View Comments</a> <br>
			<a href="/edit_post?post_id=<%= post.id %>">Edit Post</a>
			<a href="/delete_post?post_id=<%= post.id %>">Delete Post</a> <hr >
		</div>
	<% end %>


</div>


