


<h2><%= @user.full_name %>
</h2>



<h4><%= @user.info %>
</h4>




<h5> User since <%=@user.date_created %></h5>
<a href='/edit_user'>Edit Profile</a>
<a href='/blog_post'>Create Post</a>

<div>
	<% @post.each do |post| %>
		<div> <hr>
			<%= post.title %> <br>
			<%= post.date_created %> <br>
			<%= post.content %> <br>
			<a href="/view_comment?post_id=<%= post.id %>">View Comments</a> <br>
			<a href="/edit_post?post_id=<%= post.id %>">Edit Post</a>
			
		</div>
	<% end %>


</div>


