
<h2>
	<%= @viewed_user.full_name %> </h2> <br>
	
	<h4><%= @viewed_user.email %> <br>

<%= @viewed_user.info %>
</h4>
<h5> User since <%=@viewed_user.date_created %></h5>


<div>
	<% @post.each do |post| %>
		<div class="user_page_posts"> <hr>
			<%= post.title %> <br>
			<%= post.date_created %> <br>
			<p  class="content_post"><%= post.content %> <br></p>
			<a href="/view_comment?post_id=<%= post.id %>" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">label_outline</i></a>

			<% if @user == @viewed_user %>
			<a href="/edit_post?post_id=<%= post.id %>" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
			
			<% end %>
			<hr >
		</div>
	<% end %>


</div>