<h1>View User</h1>

<h2>
	<%= @viewed_user.first_name %> <br>
	<%= @viewed_user.last_name %><br>
	<%= @viewed_user.email %><br>
</h2>
<%= @user.info %>

<h3> User since <%=@user.date_created %></h3>


<div>
	<% @post.each do |post| %>
		<div> <hr>
			<%= post.title %> <br>
			<%= post.date_created %> <br>
			<%= post.content %> <br>
			<a href="/view_comment?post_id=<%= post.id %>">View Comments</a> <br>
			<% if @user == @viewed_user %>
				<a href="/edit_post?post_id=<%= post.id %>">Edit Post</a>
			<% end %>
			<hr >
		</div>
	<% end %>


</div>