<!DOCTYPE html>
<html>
  <head>
    <title>Fifth</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= link_to 'Home', root_path %>
  	<%= link_to 'All Users', users_path %>
    <%= link_to 'Log In', sessions_new_path %>
    <%= link_to 'Log out', sessions_destroy_path, method: :delete %>
    <%= flash[:notice] if flash[:notice] %>
    <%= flash[:alert] if flash[:alert]  %>
    <%= yield %>
  </body>
</html>
